.has-no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.has-no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.has-no-top-padding {
    padding-top: 0 !important;
}

.has-no-bottom-padding {
    padding-bottom: 0 !important;
}

.has-no-left-padding {
    padding-left: 0 !important;
}

.has-no-right-padding {
    padding-right: 0 !important;
}

.has-only-top-padding {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.has-only-bottom-padding {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.has-only-left-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.has-only-right-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.has-no-horizontal-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.has-no-vertical-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.has-no-top-margin {
    margin-top: 0 !important;
}

.has-no-bottom-margin {
    margin-bottom: 0 !important;
}

.has-no-left-margin {
    margin-left: 0 !important;
}

.has-no-right-margin {
    margin-right: 0 !important;
}

.has-only-top-margin {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.has-only-bottom-margin {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.has-only-left-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

.has-only-right-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.has-text-weight-medium {
    font-weight: $weight-medium !important;
}

.is-family-condensed {
    font-family: $family-condensed !important;
}

.is-decorated-link {
    text-decoration: underline !important;
}

