// Bulma variable overrides
$black:                                   rgb(0, 0, 0);
$blue:                                    rgb(0, 94, 184);
$white:                                   rgb(255, 255, 255);
$white-bis:                               rgb(249, 249, 249);
$white-ter:                               rgb(245, 245, 245);
$grey-lighter:                            rgb(231, 233, 235);
$grey-light:                              rgb(218, 218, 218);
$grey:                                    rgb(198, 198, 198);
$grey-dark:                               rgb(145, 145, 145);
$grey-darker:                             rgb(107, 107, 107);
$black-ter:                               rgb(66, 66, 66);
$black-mid:                               rgb(43, 50, 58);
$black-bis:                               rgb(14, 21, 28);
$gap:                                       32px;
$body-background-color:                     $grey-light;
$text:                                      $black-ter;
$text-strong:                               $text;
$strong-weight:                             600;
$strong-color:                              $text;
$title-line-height:                         1.25;
$title-color:                               $text;
$title-weight:                              500;
$subtitle-color:                            $black-mid;
$subtitle-weight:                           400;
$subtitle-line-height:                      1.5;
$subtitle-strong-color:                     $black-mid;
$subtitle-strong-weight:                    600;
$content-heading-line-height:               1.25;
$family-sans-serif:                         "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary:                          "Barlow", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$radius:                                    4px;
$size-1:                                    3.5rem;
$size-2:                                    3.25rem;
$size-3:                                    2.75rem;
$size-4:                                    2.5rem;
$size-5:                                    2.25rem;
$size-6:                                    1.875rem;
$size-7:                                    1.5rem;
$size-8:                                    1.25rem;
$size-9:                                    1.125rem;
$size-10:                                   1rem;
$size-11:                                   0.875rem;
$size-12:                                   0.8125rem;
$sizes:                                     $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 $size-10 $size-11 $size-12;
$size-small:                                $size-12;
$size-normal:                               $size-10;
$size-medium:                               $size-8;
$size-large:                                $size-5;
$icon-dimensions:                           2rem;
$icon-dimensions-small:                     1rem;
$icon-dimensions-medium:                    3.5rem;
$icon-dimensions-large:                     4.5rem;
$control-height:                            2.7em;
$control-radius:                            2px;
$control-radius-small:                      2px;
$control-border-width:                      1px;
$control-line-height:                       1.5;
$control-padding-vertical:                  calc(0.375em - #{$control-border-width});
$control-padding-horizontal:                calc(0.625em - #{$control-border-width});
$link:                                      lighten($blue, 3%);
$link-hover:                                $black-bis;
$content-heading-weight:                    500;

// New variables (or existing bulma variables overriden with new variables)
$max-page-width:                            1920px;
$size-xl:                                   $size-3;
$size-xs:                                   $size-11;
$ultrahd:                                   1536px + (2 * $gap);
$ultrahd-enabled:                           true;
$navbar-docked-top-reduce:                  1.2rem;
$family-condensed:                          "Barlow Semi Condensed", "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-family:                              $family-secondary;
$subtitle-family:                           $family-secondary;
$icon-dimensions-tiny:                      0.75rem;
$zIndexMax:                                 2147483647;
$modal-z:                                   $zIndexMax - 10;
$placeholder-color:                         $grey;
