-i https://pypi.python.org/simple
flask-cors>=3.0.7
flask>=1.0.2
Werkzeug>=0.14.1
python-dotenv>=0.10.1 
python-jose>=3.0.1
requests>=2.21.0 
gunicorn>=19.9.0
# Note: don't install hiredis (we're using gevent in prod, which obviously can't monkeypatch a C extension)
redis>=3.2.0
